# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Streamlit
.streamlit/secrets.toml

# OS/IDE
.DS_Store
.vscode/

# Data (evita subir datasets pesados / raw)
movielens/
tmdb/
moviedata/
books/

# Si quieres ignorar TODO data/ excepto samples:
# data/*
# !data/*sample*.csv
# !data/README.md
